

<%= form_with model: @packjob, local: true do |form| %>

  <% if @packjob.errors.any? %>
    <div id="error_explanation">
      <h2 class="text-center">
        <%= pluralize(@packjob.errors.count, "error") %> prohibited
        this packjob from being saved:
      </h2>
      <ul>
        <% @packjob.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
    <%= form.label Time.now.strftime("%m/%d/%Y %I:%M:%S %P") %><br />
    <p>
      <%= form.label :packer %><br>
      <%= form.collection_select(:packer_id, @packers, :id, :name,  {:include_blank => true}) %><br>
    </p>

    <p>
      <%= form.label :rig %><br>
      <%= form.collection_select(:rig_id, @rigs, :id, :rig_type_number,  {:include_blank => true}) %><br>
    </p>

    <p>
      <%= form.submit %>
    </p>

</div>

<% end %>
