<h1>Listing Packjobs</h1>

<%= link_to 'New Packjob', new_packjob_path %> | <br>

<br>

<div class="digg_pagination">
  <%= will_paginate @packjobs, :container => false %>
</div>

<table id=listtable CELLPADDING="4" border="1">
  <tr class="headerBlue" >
    <th>Datestamp</th>
    <th>Packer</th>
    <th>Rig</th>
    <th colspan="3"></th>
  </tr>

  <% @packjobs.each do |packjob| %>
  <tr class="<%= cycle('rowA', 'rowB') %>">
        <td><%= link_to packjob.created_at.strftime("%m/%d/%Y %I:%M:%S %P"),packjob_path(packjob.id) %></td>
        <td><%= packjob.packer %></td>
        <td><%= packjob.rig %></td>
        <td><%= link_to 'Show', packjob_path(packjob) %></td>
        <td><%= link_to 'Edit', edit_packjob_path(packjob) %></td>
        <td><%= link_to 'Destroy', packjob_path(packjob),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>

    <% end %>
  </tr>
</table>
<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @packjobs %>
  </div>
  <%= will_paginate @packjobs,  :container => false %>
</div>

<br><%= link_to 'New Packjob', new_packjob_path %> |
