
<p>
   <b>Datestamp:</b>
  <%= @packjob.created_at.strftime("%m/%d/%Y %I:%M %P") %><br>
</p>
<p>
  <strong>Packer:</strong>
  <%= @packjob.packer %>
</p>

<p>
  <strong>Rig:</strong>
  <%= @packjob.rig %>
</p>

<%= link_to 'Edit', edit_packjob_path(@packjob) %> |
<%= link_to 'Back', packjobs_path %>
