

<%= form_with model: @rig, local: true do |form| %>

  <% if @rig.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@rig.errors.count, "error") %> prohibited
        this rig from being saved:
      </h2>
      <ul>
        <% @rig.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p>
      <%= form.label :rig_online %>
      <%= form.check_box :rig_status %>
    </p>

    <p>
      <%= form.label :rig_type %><br>
      <%= form.text_field :rig_type_number %>
    </p>

    <p>
      <%= form.submit %>
    </p>
  </div>

<% end %>
